@include b(categories-list){


	@include m(content-preview){
		margin: 0;
		display: inline-block;
		@include e(category){
			list-style: none;
			display: inline-block;
			vertical-align: top;
			margin-left: 15px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}