@include b(content-overlay){
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	z-index: 9;
	text-align: center;
	opacity: 0;
	transition: opacity .45s ease-out;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	@include e(background){
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 95%;
		vertical-align: middle;
		padding: 15px;
		height: 92%;
		&:after {
			background: $white;
			opacity: .8;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			content: '';
			display: block;
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}
		a,h2 {
			position: relative;
			z-index: 9;
		}
	}

	@include e(title){
		display: block;
		position: relative;
		z-index: 9;
		text-transform: uppercase;
	}

	@include e(position){
		display: inline-block;
		vertical-align: middle;
		max-width: 98%;
	}
}