/*footer form*/
#gform_wrapper_2 {
	margin: 0;
	width: 100%;
	max-width: 355px;
	float: right;
	.gform_title {
		@extend .font__nav-item;
	    margin-top: 0;
	    font-weight: normal;
	    letter-spacing: .18em !important;

	}
	.gfield_label {
		display: none;

	}
	ul {
		 li.gfield {
		 	margin-top: 0;
		 	padding-right: 0;
		 	input {
		 		margin: 0;
		 		width: 100%;
		 		background: none;
		 		border: 1px solid $white;
		 	}
		 }
		 .ginput_container {
		 	margin-top: 0;
		 }
	}
	.gform_body,
	.gform_footer {
		float: none;
		clear: none;
		display: inline-block;
		vertical-align: middle;
	}
	.gform_body {
		width: 70%;
	}
	.gform_footer {
		width: 30%;
		margin: 0;
		padding: 0;
		margin-left: -6px;
		margin-top: 0;
		input[type=submit] {
			@extend .font__nav-item;
			margin-right: 0;
			background: none;
			border: 1px solid $white;
			border-left: none;
			padding: 11px 26px 11px 30px;
			text-align: center;
			&:focus {
				outline: none;
			}
		}
	}

	/*side bar*/
	.side-bar-main & {
		float: none;
		text-align: center;
		form {
			text-align: center;
		}
		.gform_title {
			@extend .font__details;
			text-align: center;
			border-bottom: 1px solid;
			border-top: 1px solid;
			padding: 10px;
			margin: 0;
		}
		ul {
			 li.gfield {
			 	input {
			 		border: 1px solid $black;
 		    		font-size: 12px;
    				height: 30px;
			 	}
			 }
			 .ginput_container {
			 	margin-top: 0;
			 }
		}
		.gform_body {
			width: 60%;
			vertical-align: top;
		}
		.gform_footer {
			vertical-align: top;
			line-height: normal;
			input[type=submit] {
				@extend .font__details;
				@extend .font__details--other;
				border: 1px solid $black;
				color: $black;
			    padding: 6px 11px 8px;
				border-left: none;
				height: 30px;
				
			}
		}
	}
}


.reveal-modal {
	max-width: 650px;
    border: 35px solid #F6F6F6;
    border-radius: 0;
    text-align: center;
	.gform_wrapper  {
		text-align: left;
		label.gfield_label {
			display: none;
		}
		.ginput_container  {
			input,
			textarea {
				color: $black;
				width: 100% !important;
				box-shadow: none;
				border: 1px solid $black;
				@include placeholder(){
					color: $black;
				}
			}
		}
		ul.gform_fields {
			li.gfield {
				padding: 0;
			}
		}
		.gform_footer  {
			width: 100% !important;
			margin: 0 !important;
			text-align: center;
			input[type=submit] {
				@extend .font__details;
				@extend .font__details--bold;
				background: none;
				margin: 0;
			}
		}		
	}
	.close-reveal-modal {
		font-weight: normal;
	}
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
	.title-ish {
		padding-top: 15px;
		margin-bottom: 45px;
	}
	a {
		display: block;
		line-height: 20px;
	}
	.short-block {
		display: block;
		margin: 0 auto 25px;
		max-width: 400px;
	}
	.site-header-bar__social-media {
		border:none;
	}
	&.small {
		max-width: 525px;
		h2 {
			max-width: 291px;
			margin: 0 auto 30px;
		}
	}

	.reveal-modal__emails {
		a {
			@extend .font__details;
			display: block;
			line-height: 20px;
		}
		br {
			display: none;
		}
	}
}