@include b(gallery-output){

	@include e(list){
		margin:0 -0.9375rem;
	}

	@include e(item){
		@extend .medium-6;
		@extend .columns;
		list-style: none;
		max-height: 730px;
		display: block;
		&:last-child {
			float: left;
			padding-left: 0.65rem
		}
		&:first-child {
			padding-right: 0.65rem
		}
		@media #{$small-only} { 
			width: 50% !important;
		}
	}

	@include e(bg){
		background-size: cover;
		background-position: center;
		background-repeat: none;
		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-top: 60%;
			padding-bottom: 79%;
		}
	}


	@include m(change-width){
		@include e(list){
			margin:0 0 0 -0.9375rem;
		}
		@include e(item){
			width: 50%;
		}
	}
}

.gallery-container {
	padding-bottom: 1.25rem;
	display: block;
	&.set-height {
		overflow: hidden;
		
	}

	&--change-width {
		/*display: none;*/
		overflow: hidden;
	}
}