@include b(instagram-list){
	margin: 42px 0 0;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
	text-align: center;
	@include e(item){
		display: inline-block;
		vertical-align: middle;
		position: relative;
		img {
			max-height: 260px;
			position: relative;
			z-index: 0;
		}
	}

	@include e(likes){
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: block;
		z-index: 1;
		&:hover {
			&:after {
				opacity: .75;
			}
			.wrap {
				opacity: 1;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			background: #F9ECDC;
			display: block;
			opacity: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 0;
			transition: opacity .45s ease-out;
		}
		.wrap {
			position: relative;
			z-index: 9;
			vertical-align: middle;
			opacity: 0;
			transition: opacity .45s ease-out;
		}
		.fa,span {
			display: inline-block;
			vertical-align: top;
			color: #222;
		}
		.fa {
			font-size: 25px;
			padding-top: 4px;
		}
		.count {
			@extend .font__details;
			@extend .font__details--bold;
			/*color: #6D6F71;*/
			font-size: 25px;
			line-height: 1;
			margin-left: 10px;
		}
	}
	
}

.instagram-container {
	text-align: center;
	padding-top: 20px;
	.instagram-tag {
		@extend .font__details;
		display: inline-block;
	}
}