#prev-next-clicks {
	padding-bottom: 95px;
}

@include b(post-nav-events){
	position: relative;
	width: 290px;
	height: 225px;
	@media #{$medium-only}{
		width: 200px;
		height: 175px;
	}
	@media #{$small-only}{
		width: 150px;
		float: left;
		height: 115px;
	}
	&:hover {
		.post-nav-events__text-link {
			&:before {
				opacity: .75;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	@include m(next){
		float: left;
		@media #{$small-only}{
			padding-right: 15px;
		}
		@include e(text-link) {
		    
		    &:after {
				background-size: contain;
				content: '';
				background-image: url(../images/arrow-left-hd.png);
		    }
		}
	}
	@include e(text){
		position: absolute;
		left: 0;
		bottom: -40px;
		width: 100%;
		text-align: center;
		@media #{$small-only}{
			font-size: 12px;
		}
	}
	@include e(text-link){
		
		font-weight: 600;
		font-size: 11px;
		letter-spacing: .27em;
		color: $black;
		width: 65px;
		line-height: 25px;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 100%;
		position: absolute;
	    
		transition: color .45s ease-out;
		@media #{$small-only}{
			display: none;
		}
		&:hover {
			
		}
		&:after {
			bottom: -25px;
			font-size: 23px;
			text-align: center;
			left: 0;
			right: 0;
			font-weight: 900;
			position: absolute;
			height: 6px;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			z-index: 99;
			top: 0;
	    	bottom: 0;
	    	margin: auto;
	    	opacity: 1;
			transition: opacity .45s ease-out;
		}
		&:before {
			/*background: $lewisMillerBlue;*/
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			display: block;
			z-index: 0;
			opacity: 0;
			transition: opacity .45s ease-out;
		}
	}

	@include m(previous){
		float: right;
		@media #{$small-only}{
			padding-left: 15px;
		}
		@include e(text-link) {
		    right: auto;
		    left: -65px;
		    &:after {
				background-size: contain;
				content: '';
				background-image: url(../images/arrow-right-hd.png);
		    }
		}
	}

	@include m(next){
		@include e(text-link) {
		    right: -65px;
		    left: auto;
		}
	}

	@include e(image-link) {
		
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
	}
}