@include b(tags-list){

	@include m(content-preview){
		display: inline-block;

		li {
			list-style: none;
			display: inline-block;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				a {
					&:after {
						content: '';
					}
				}
			}
		}
		a {
			@extend .font__details;
			color: $black;
			border-bottom: 1px solid;
			transition: border-bottom .45s ease-out;
			&:hover {
				color: $black;
				border-bottom: 1px solid transparent;
			}
			&:after {
				content: ',';
			}

		}
	}
}