@include b(video-section){
	display: block;
	text-align: center;
	position: relative;
	overflow: hidden;
	@media #{$large-up}{
		height: 600px;
	}
	@media #{$medium-only}{
		height: 450px;
	}
	@media #{$small-only}{
		height: 300px;
	}
	@include e(still){
		min-width: 1900px;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, 0);
		@media #{$medium-only}{
			min-width: 1400px;
		}
		@media #{$small-only}{
			min-width: 700px;
		}
	}
	.pin-magic {
		display: inherit;
		.pin-magic__link {

		}
	}
}