@include b(about-blocks){

	@include e(header-image){
		text-align: center;
		padding-bottom: 75px;
	}

	@include e(intro){
		@extend .row;
		padding-bottom: 50px;
		margin-bottom: 75px;
		position: relative;
		&:before {
			background: $black;
			height: 1px;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 98%;
			margin: 0 auto;
			right: 0;
		}
	}

	@include e(intro-blocks){
		@extend .medium-6;
		@extend .columns;
	}

	@include e(intro-title){
		@extend .font__details;
		@extend .font__details--bold;
		margin-top: 0;
		margin-bottom: 20px;
	}

	@include e(p1-title){
		@extend .about-blocks__intro-title;
	}

	@include e(p1){
		@extend .row;
		position: relative;
	}

	@include e(p1-img){
		@extend .medium-6;
		@extend .columns;
		position: relative;
		z-index: 0;
		transition: transform .45s ease-out;
		@media only screen and (min-width: 1200px) {
			transform: translate(85px, 0);
		}
	}

	@include e(p1-block){
		@extend .medium-6;
		@extend .columns;
	}
	@include e(p1-tag-line){
		@extend .font__quote;
		display: inline-block;
		text-transform: uppercase;
		position: absolute;
		top: auto;
		bottom: -240px;
		left: auto;
		right: -150px;
		background: #fff;
		padding: 35px;
		width: 435px;
		max-width: 100%;
		@media only screen and (max-width: 991px) {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			background: none;
			padding: 0;
		}
		em {
			@extend .font__quote;
			@extend .font__quote--italic;
			text-transform: none;
		}
	}

	@include e(p2){
		@extend .about-blocks__p1;
		padding-top: 75px;
		overflow: hidden;
	}

	@include e(p2-block){
		@extend .medium-6;
		@extend .columns;
		@include m(left){
			
			@media #{$large-up}{
				float: right;
			}
		}
		@include m(right){
			
			@media #{$large-up}{
				float: left !important;
				width: 38%;
				transform: translate(0, -150px);
			}
		}
	}

	@include e(p2-title){
		@extend .about-blocks__intro-title;
	}

	@include e(p2-img){
		padding-top: 55px;
		
		@media #{$large-up} { 
			transform: translate(-85px, 0);
			min-width: 555px;
		}
	}

	@include e(p3-img){
		padding-bottom: 55px;
	}

	@include e(misc){
		display: block;
		padding-top: 0;
	}

	@include e(ask){
		@extend .row;
		background: $white;
		padding: 75px;
		margin-bottom: 50px;
		@media #{$medium-down} { 
			margin-top: 50px;
			padding: 30px 15px;
		}
	}
	@include e(ask-img-con){
		text-align: center;
		padding-bottom: 60px;
	}
}