.archive {
	.page-header {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 30px;
		h1 {
			@extend .font__mini-header;
			@extend .font__mini-header--other;
			text-transform: uppercase;
		}
	}
}

@include b(archive-block){
	@extend .columns;
	@extend .clearfix;
	float: none !important;
	margin: 0;
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	text-align: center;
	@include e(list){
		@extend .clearfix;
		padding-bottom: 15px;
		padding-top: 15px;
		display: block;
		margin: 0;
		@include m(year){
			
		}



		@include m(month){
			border-top: 1px solid $black;
		}
		
	}

	@include e(item){
		list-style: none;
		display: inline-block;
		vertical-align: top;
		padding: 0 23.5px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}

	@include e(selector){
		@extend .font__details;
		@extend .font__details--other;
		cursor: pointer;
		&:hover {
			@extend .font__details--other-bold;
		}

		@include m(year-active){
			@extend .font__details--other-bold;
		}
		@include m(month-active){
			@extend .font__details--other-bold;
		}
	}

	@include e(alert){
		@extend .font__details;
		@extend .font__details--bold;
		display: none;
	}

	@include e(empty-con){
		@extend .clearfix;
		text-align: center;
		span {
			padding: 5px 0 30px;
		}
	}
	@include e(empty){
		@extend .font__details;
		@extend .font__details--bold;
		display: none;
	}


	@include m(content){
		max-width: 1202px;
		margin-bottom: 100px;
		margin-top: 50px;
		.medium-4 {
			margin-bottom: 1.5rem;
			&:last-child {
				float: left;
			}
		}
	}
	
}