@include b(footer-content){

	@include e(block){
		background: $midBlack;
		padding: 50px 0;
	}

	@include e(year){
		@extend .font__nav-item;
		display: inline-block;
		vertical-align: middle;
		@media #{$small-only} { 
			display: block;
			margin-top: 0 !important;
		}
	}

	@include e(site-by){
		display: inline-block;
		vertical-align: middle;
		@media #{$small-only} { 
			display: block;
			margin-left: 0 !important;
		}
		a {
			@extend .font__nav-item;
			display: block;

		}
	}

	@include e(links){
		display: inline-block;
		vertical-align: middle;
		a {
			@extend .font__nav-item;
			display: block;
			border-bottom: 1px solid transparent;
			transition: border-bottom .45s ease-out;
			line-height: 21px;
			&:hover {
				color: $white;
				border-bottom: 1px solid $white;
			}
		}
	}

	@include e(site-by){

		a {
			border-bottom: 1px solid transparent;
			transition: border-bottom .45s ease-out;
			line-height: 21px;
			&:hover {
				color: $white;
				border-bottom: 1px solid $white;
			}
		}
	}

	@include e(about){
		@media #{$small-only} { 
			margin-left: 0 !important;
		}
	}

	@include e(space){
		margin-left: 30px;
		margin-top: 30px;
		&:first-child {
			margin-left: 0;
		}
		@media #{$small-only} {
			margin-top: 10px;
		}
	}
	.row {
		@extend .columns;
		float: none;
	    max-width: 75.5rem;
	}
	form {
		input {
			color: $white;
		}
	}
	.gforms_confirmation_message {
		
		@media only screen and (min-width: 1060px) {
			float: right;
			max-width: 300px;
			color: #fff;
		}
	}
	@media only screen and (max-width: 1060px) {
		text-align: center;
		#gform_wrapper_2 {
			float: none;
		    margin: 0 auto;
    		padding-top: 30px;
    		.gform_title {
    			text-align: center;
    		}
    		.gform_body {
    			width: 100%;
    		}
    		.gform_footer {
    			margin: 15px 0 0;
    			display: block;
    			width: 100%;
    			input[type=submit] {
    				border-left: 1px solid $white;
    				width: 100%;
    				display: block;
    			}
    		}
		}
	}
}