@include b(site-header-bar){
	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	/*overflow-x: hidden;*/

	/*main modifier*/
	@include m(short){

		/*nav*/
		@include e(nav){
			
			@media #{$medium-up}{
				padding: 5px 0;
				height: 35px;
			}

			@include m(plus){
				@media #{$medium-up}{
					height: 130px;
				}
			}
		}

		/*title area*/
		@include e(title-area){
			
			@media #{$medium-up}{
				margin: 13px 0 !important;
			}
		}

		/*logo*/
		@include e(logo){
			
			@media #{$medium-up}{
				max-width: 375px;
			}
		}

		/*social media*/
		@include e(social-media){
			
			@media #{$medium-up}{
				/*padding: 5px 15px;*/
			}
		}

		@include e(top-bar){
			@media #{$medium-up}{
				padding-top: 35px;
			}
		}
		.search-form {
			margin-top: -5px;
		}
	}
	/*end main modifier*/
	
	/*nav ul*/
	@include e(nav){
		margin-left: 0;
		text-align: center;
		padding: 10px 0;
		position: relative;
		transition: padding .45s ease-out;
		@media #{$small-only} { 
			padding: 32px 0 0;
			margin-left: 20px;
			height: 0;
			overflow: hidden;
		}
		@media #{$medium-up} { 
			transition: height .45s ease-out;
			height: 45px;
		}
		li {
			display: inline-block;
			margin: 0 30px;
			position: relative;
			&.menu-item-has-children {
				> a {
					&:hover,
					&:focus {
						border-bottom: 1px solid transparent;
					}
				}
			}
			@media #{$medium-only} { 
				margin: 0 10px;
			}
			@media #{$small-only} { 
				display: block;
				margin: 0;
				text-align: left;
			}
			&:hover {
				> .sub-menu-wrap ul {
					/*display: block;*/
				}
			}
		}
		a {
			@extend .font__nav-item;
			border-bottom: 1px solid transparent;
			transition: color .45s ease-out, border-bottom .45s ease-out;
			&:hover,
			&:focus {
				color: $lightBeige;
				border-bottom: 1px solid $white;
			}
		}

		ul {
			display:none;
			position:absolute;
			top:100%;
			left:0;
			/*background:$black;*/
			text-align: left;
			@media #{$medium-up} {
				/*padding: 5px 1000em 20px;
				margin: 0 -1000em;*/
				margin: 0;
			}
			@media #{$small-only} { 
				display: block !important;
				position: relative;
				margin-left: 20px;
			}
			li {
				float:none;
				width: 100%;
				margin: 0;
			}
			ul {
				top: 0;
				left: 100%;
			}
			a {
				/*text-transform: none;*/
				font-size: 9px;
			}
		}
		.sub-menu-wrap {
			&:before {
				background: $black;
				content: '';
				display: block;
				z-index: 0;
			}
		}
		#menu-item-12045 {
			.menu {
				width: 120px;
			}
		}

		@include m(plus){
			
			@media #{$medium-up} { 
				height: 130px;
			}
			ul {
				/*display: block;*/
			}
		}

	}

	/*title area*/
	@include e(title-area){
		@extend .columns;
		float: none !important;
		margin: 40px 0 !important;
		transition: margin .45s ease-out;
		@media #{$small-only} { 
			margin: 5px 0 !important;
		}
		.name {
			text-align: center;
			@media #{$medium-up}{
				height: auto !important;
			}
		}
		a {
			@media #{$small-only} { 
				margin: 0 auto;
				width: 100%;
			}
		}
		.toggle-topbar {
			@media #{$small-only} { 
				top: 0 !important;
				margin: 0 !important;
				z-index: 9;
				position: fixed;
				right: auto;
				left: -10px;
			}
		}
	}

	/*logo*/
	@include e(logo){
		width: 100%;
		max-width: 625px;
		transition: max-width .45s ease-out;
		@media #{$small-only} { 
			max-width: 275px;
		}
	}

	/*top bar*/
	@include e(top-bar){
		background: none;

		@media #{$medium-up}{
			height: auto;
			padding-top: 45px;
			transition: padding-top .45s ease-out;
		}
		@media #{$small-only} { 
			height: auto;
		}
	}

	/*top bar right*/
	@include e(top-bar-right){
		background: $black;
		position: relative;
		z-index: 1;
		@media #{$medium-up}{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	/*social media*/

	@include e(social-media){
		display: block;
		margin: 0;
		padding: 5px;
		/*border-top: 1px solid lightgray;*/
		text-align: center;
		position: fixed;
		right: 0;
		top: 330px;
		transition: padding .45s ease-out;
		@media #{$medium-only} { 
			top: 275px;
		}
		@media #{$small-only} { 
			top: 100px;
			padding: 5px 15px;
		}
		li {
			display: block;
			margin: 10px 15px;
			vertical-align: middle;
			@media #{$small-only} { 
				margin: 5px 5px;
			}
		}
		a {
			color: $black;
			transition: color .45s ease-out;
			&:hover,
			&:focus {
				color: $lightBeige;
			}
		}

		@include m(sidebar){
			li {
				margin: 0 12px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}

		@include m(about){
			padding-left: 0;
			padding-right: 0;
			border:none;
			text-align: left;
			li {
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	.search-form {
		/*display: none;*/
		width: 98px;
		position: absolute;
		right: 15px;
		top: 10px;
		@media #{$medium-only}{
			display: none;
		}
		@media #{$small-only}{
			margin-top: -5px;
		}
		label {
			span {
				display: none;
			}
		}
		.search-field {
			@extend .font__nav-item;
			background: none;
			color: $white;
			border: none;
			box-shadow: none;
			padding-right: 17px;
			top: 0;
			text-decoration: underline;
			text-transform: uppercase;
			@include placeholder(){
				color: $white;
				text-transform: uppercase;
			}
		}
		.search-submit {
			font-size: 0;
			background: url(../images/searchIconBG.png) no-repeat center;
			display: block;
			height: 14px;
			width: 14px;
			margin: 0;
			position: absolute;
			right: 0;
			padding: 0;
			top: 7px;
		}
	}
}

.site-header-bar__top-bar {
	&.expanded {
		.title-area {
			background: none;
		}
		.site-header-bar__nav {
			height: auto;
			padding-bottom: 15px;
		}
	}
}

.site-header-bar__nav {
	&.test {
		ul {
			display: block;
		}
		#menu-item-11951 {

		}
	}
}