.page {
	.page-header {
		text-align: center;
		margin-top: 40px;
		h1 {
			@extend .font__header;
			text-transform: uppercase;
		}
	}
}

.page-id-10082 {
	[_nghost-juh-1] {
		max-width: 1000px;
	}
}