@include b(load-more-posts){

	text-align: center;
	display: block;
	margin-bottom: 75px;

	span {
		cursor: pointer;
	}
}

.singular-post {
	background: $white;
	position: relative;
	z-index: 9;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 70px 70px;	
	@media #{$medium-down}{
		padding: 0.9375rem;
	}
	article {
		@media #{$medium-up}{
		}
		.pibfi_pinterest {
			margin-bottom: 30px;
		}
		.entry-title {
			margin-bottom: 30px;
		}
		.entry-content {
			p {
				a {
					color: $black;
					opacity: .5;
					text-decoration: underline;
				}
			}
		}
		p {
			overflow: hidden;
			> img {
				margin-bottom: 1.25rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	aside {
		@media #{$medium-up}{
			width: 25%;
			float: right;
			margin-left: 5%;
		}
		@media #{$medium-only}{
			width: 27%;
			overflow: hidden;
		}
	}

	
}

.single-post {

	/*meta plus -- see content preview scss*/
	.content-preview__meta-plus {
		padding-top: 30px;
		margin-bottom: 75px;
	}
	.tags-list--content-preview {
		margin-bottom: 0;
	}
}

.may-also-like {
	.medium-4 {
		@media #{$small-only}{
			margin-bottom: 15px;
		}
	}
}

.entry-content {

	&__left {
		@media #{$medium-up}{
			float: left;
			width: 70%;
		}
		@media #{$medium-only}{
			width: 67%;
		}
	}
	
}